.weekend {
  margin-top: 3.5rem;
  width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1.31rem;
    max-width: 1280px;
  }
  &__desktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: calc(100% - 3.5rem);
    grid-gap: 1.31rem;
  }
  &__mobile {
    display: none;
    flex-direction: column;
    gap: 0.88rem;
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 960px) {
  .weekend__desktop {
    display: none;
  }
  .weekend__mobile {
    display: flex;
  }
}
