node_modules
.env
.env.*
.vscode
*storybook.log
storybook-static
tests
.turbo
dist
packages/backend/images.d.ts
packages/backend/scripts
.test.ts
failed_scripts.json
failed_actions.json
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json