.programButton {
  display: flex;
  align-items: center;
  padding: 0.44rem 0.37rem 0.44rem 0.66rem;
  gap: 0.33rem;
  color: #364153;
  font-family: Inter;
  font-size: 0.66rem;
  font-weight: 500;
  line-height: 0.875rem;
  border-radius: 0.547rem;
  border: 1px solid #e5e7eb;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
