.ranking {
  width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.31rem;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 1150px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 3.5rem);
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 0.66rem;
  }
  &__logo {
    width: 21px;
    height: 21px;
  }
  &__headerText {
    display: flex;
    flex-direction: column;
  }
  &__mainTitle {
    color: #101828;
    font-family: Inter;
    font-size: 1.09375rem;
    font-weight: 700;
    line-height: 1.53rem;
  }
  &__subTitle {
    color: #4a5565;
    font-family: Inter;
    font-size: 0.76563rem;
    font-weight: 400;
    line-height: 1.09rem;
  }
  &__seeAll {
    display: flex;
    gap: 0.43rem;
    align-items: center;
    padding: 0.47rem 0.66rem 0.38rem;
    color: #c00;
    font-family: Inter;
    font-size: 0.76rem;
    font-weight: 500;
    line-height: 1.1rem;
    cursor: pointer;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 3.5rem);
  }
}

@media screen and (max-width: 1150px) {
  .ranking__header, .ranking__list {
    width: calc(100% - 2rem);
  }
}
