@import "react-day-picker/style.css";

.rdp-root {
  --rdp-accent-color: #cc0000; /* 선택된 날짜 강조 색 */
  --rdp-day-height: 50px;     /* 날짜 칸 높이 */
  --rdp-range_middle-background-color: rgb(239, 244, 250);
    --rdp-range_middle-color: 
  --rdp-disabled-opacity: 0.2;
  --rdp-today-color: rgb(0, 0, 0);
  --rdp-months-gap: 30px;
}

