@mixin font-style($color, $ftfamily, $ftsize, $lineh, $ftweight: 400) {
  color: $color;
  font-family: $ftfamily;
  font-size: $ftsize;
  font-weight: $ftweight;
  line-height: $lineh;
}

@mixin textarea-reset {
  resize: none; // 크기 조절 막기
  border: none; // 기본 테두리 제거
  outline: none; // 포커스 시 라인 제거
  padding: 0; // 기본 패딩 제거
  margin: 0; // 기본 마진 제거
  background: none; // 배경 제거
  font: inherit; // 부모 폰트 상속
  color: inherit; // 부모 글자색 상속
  box-shadow: none; // 그림자 제거
}
