@mixin font-style($color, $ftsize, $lineh, $ftweight: 400) {
  color: $color;
  font-size: $ftsize;
  font-weight: $ftweight;
  line-height: $lineh;
}

@mixin button-style($padding, $bg, $color) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  padding: $padding;
  color: $color;
}

@mixin textarea-reset {
  resize: none;
  border: none;
  outline: none;
  padding: 0; 
  margin: 0; 
  background: none;
  font: inherit;
  color: inherit; 
  box-shadow: none;
}
