@use "@shared/styles/mixins" as mixin;
@use "@shared/styles/variables" as *;

.loginModal {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.88rem;
    .or {
      position: relative;
      height: 0.88rem;
      &__line {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: auto;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
      &__text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #fff;
        width: fit-content;
        padding: 0 0.32rem 0 0.44rem;
        z-index: 10;
        @include mixin.font-style(#717182, 0.66rem, 0.88rem);
      }
    }
  }
  &__forgotPassword {
    @include mixin.font-style($main-theme, 0.77rem, 1.09rem);
  }
}
