.auth {
  display: flex;
  align-items: center;
  height: 47px;
  gap: 20px;

  .auth__button {
    border: none;
    display: flex;
    height: 36px;
    font-size: 14px;
    width: 70px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #f9fafb;
    font-weight: 400;

    &-register {
      width: 75px;
      background: #cc0000;
      color: #fff;
    }
  }
}
