.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background: #f9fafb;

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.25);
}
