.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 65px;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  position: sticky;
  z-index: 1;
  top: 0;
  background: #fff;

  .logo {
    margin-left: 20px;
    display: flex;
    gap: 6px;
    cursor: pointer;

    .im {
      width: 32px;
      height: 32px;
    }

    .logo__title {
      font-family: "Geist", sans-serif;
      font-size: 20px;
      font-weight: 700;
      transform: translateY(6px);
    }
  }

  .nav {
    display: flex;
    gap: 8px;

    .nav__container {
      display: flex;
      gap: 5px;
      align-items: center;

      .nav__wrapper {
        cursor: pointer;

        .text {
          font-size: 16px;
          font-weight: normal;
        }

        img {
          transform: translateX(-6px);
        }
      }

      > img {
        width: 14px;
        height: 14px;
      }
    }
  }

  .auth {
    display: flex;
    margin-right: 20px;
    gap: 20px;

    .auth__button {
      border: none;
      display: flex;
      height: 36px;
      font-size: 14px;
      width: 70px;
      padding: 10px 12px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: #fff;
      font-weight: 400;

      &-register {
        width: 75px;
        background: #cc0000;
        color: #fff;
      }
    }
  }
}
