.logo {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 47px;
    cursor: pointer;

    .im {
      position: relative;
      top: 4px;
      width: 32px;
      height: 32px;
    }

    .logo__title {
      font-family: "Geist", sans-serif;
      font-size: 20px;
      font-weight: 700;
      transform: translateY(6px);
    }
  }
