.nav {
  display: flex;
  gap: 8px;
  margin-top: 10px;

  .nav__container {
    display: flex;
    gap: 5px;
    align-items: center;

    .icon {
      margin-top: 1px;
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }

    .nav__wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;

      .text {
        font-size: 16px;
        font-weight: normal;
      }

      img {
        transform: translateX(-6px);
      }
    }

    > img {
      width: 14px;
      height: 14px;
    }
  }
}
