@use "@shared/styles/mixins" as mixin;
@use "@shared/styles/variables" as *;

.widgetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3.5rem);
  &__title {
    display: flex;
    align-items: center;
    gap: 0.66rem;
  }
  &__logo {
    width: 21px;
    height: 21px;
  }
  &__headerText {
    display: flex;
    flex-direction: column;
  }
  &__mainTitle {
    @include mixin.font-style(#101828, 1.09rem, 1.53rem, 700);
  }
  &__subTitle {
    @include mixin.font-style(#4a5565, 0.77rem, 1.09rem);
  }
  &__seeAll {
    display: flex;
    gap: 0.43rem;
    align-items: center;
    padding: 0.47rem 0.66rem 0.38rem;
    @include mixin.font-style($main-theme, 0.76rem, 1.1rem, 500);
    cursor: pointer;
  }
}
