.performanceCardHome {
  display: flex;
  flex-direction: column;
  width: 14.3rem;
  border-radius: 0.54688rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  &__posterWrap {
    width: 14.25rem;
    height: 20.14944rem;
  }
  &__poster {
    width: 100%;
    height: 100%;
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.3rem;
    height: 10.9rem;
    &Wrap {
      display: flex;
      flex-direction: column;
      gap: 0.66rem;
    }
  }
}
