@use "@shared/styles/mixins" as mixin;

.signupModal {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.88rem;
    .or {
      position: relative;
      height: 0.88rem;
      &__line {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
      &__text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        margin: auto;
        width: fit-content;
        padding: 0 0.32rem 0 0.44rem;
        background-color: #fff;
        @include mixin.font-style(#717182, Inter, 0.656rem, 0.875rem);
      }
    }
  }
}
