@use "@shared/styles/mixins" as mixin;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.8rem;
  background: rgba(0, 0, 0, 0.5);
  &__wrapper {
    border-radius: 0.547rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 1.38rem;
    max-height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}