@use "@shared/styles/mixins" as mixin;
@use "@shared/styles/variables" as *;

fieldset {
  border: none;
}

.form {
  width: 1023px;
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 8px;

  .filter {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: 80px;
    grid-template-areas: "a a e f g";
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #fff;
    &--active {
      background-color: #ebebeb;
      .filter__input {
        background-color: #ebebeb;
      }
    }

    &__searchbox {
      grid-area: a;
      padding: 16px;
      display: flex;
      align-items: center;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-right: 1px solid #e5e7eb;
      cursor: pointer;

      &:not(.filter__searchbox--active):not(.filter__searchbox--inactive) {
        &:hover {
          background: #efefef;
        }

        &:hover .filter__input {
          background-color: #efefef;
        }
      }

      &--active {
        background-color: #fff;
        .filter__input {
          background-color: #fff;
        }
      }

      &--inactive {
        &:hover {
          background-color: #e2e2e2;
        }

        &:hover .filter__input {
          background-color: #e2e2e2;
        }
      }
    }

    &__input {
      width: 100%;
    }

    &__input::placeholder {
      color: #ccc;
    }

    .filter-dropdown {
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: absolute;
      top: 100%;
      width: 364px;
      background-color: #fff;
      border: 1px solid #e5e7eb;
      border-radius: 16px;
      padding: 16px 22px;
      .filter-dropdown__menu {
        padding: 12px;
        border-radius: 16px;
        cursor: pointer;
        &-wrapper {
          display: flex;
          flex-direction: column;
        }

        &:hover {
          background-color: #f3f3f3;
        }
      }

      .filter-dropdown__main-text {
        @include mixin.font-style(#111827, 16px, normal, 500);
      }
      .filter-dropdown__sub-text {
        @include mixin.font-style(#6b7280, 14px, normal);
      }
    }
  }

  .button-container {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;

    .button {
      width: 45px;
      height: 45px;
      border-radius: 6px;

      &--reset {
        border: 1px solid #d1d5db;
        background: #fff;
        color: #374151;
      }

      &--search {
        border: 1px solid rgba(0, 0, 0, 0);
        background: $main-theme;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        span {
          color: #fff;
        }
      }
    }
  }
}
