.table-row {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(3, 2fr);
  height: 112px;
  border-top: 1px solid #f3f4f6;

  &__cell {
    // border: 1px solid black;
    display: flex;
    align-items: center;
  }

  &__rank {
    justify-content: center;
    color: #111827;
    font-family: Geist;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }

  &__title {
    gap: 40px;

    .poster {
      flex-shrink: 0;
      background: #eaeaea;
      border-radius: 6px;
      width: 56px;
      height: 80px;
    }

    .pfnm {
      margin-right: 40px;
      color: #111827;
      font-weight: 600;
      line-height: 24px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      text-overflow: ellipsis;
    }
  }

  &__venue {
    justify-content: center;
    text-align: center;
    color: #4b5563;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__period {
    justify-content: center;
    color: #4b5563;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__booking {
    justify-content: center;
  }
}
