.bookingModal {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  &__vendorWrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(6rem, 13.9rem));
    grid-gap: 0.66rem;
  }
}
