.place-info {
  padding: 32px;

  .hall {
    margin-bottom: 32px;

    &__title {
      margin-bottom: 16px;
      color: rgb(17, 24, 39);
      font-size: 20px;
      font-weight: 700;
    }

    &__detail {
      display: flex;
      gap: 12px;

      .icon {
        align-self: flex-start;
        margin-top: 2px;
      }

      &-name {
        color: rgb(17, 24, 39);
        font-weight: 600;
        line-height: 24px;
      }

      &-address {
        color: rgb(75, 85, 99);
        line-height: 24px;
      }
    }
  }

  .location {
    &__title {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 12px;
    }

    &__map {
      width: 1096px;
      height: 616px;
      border-radius: 8px;

      &--no-location {
        background: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
