.mobileCard {
  position: relative;
  width: 9.63rem;
  height: 100%;
  border-radius: 0.55rem;
  flex-shrink: 0;
  overflow: hidden;
  &__poster {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.mobileItem {
  display: none;
  gap: 1.31rem;
  padding: 0.94rem;
  height: 15.5rem;
  border-radius: 0.55rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
  &:hover {
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    .mobileCard__poster {
      transform: scale(1.05);
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
  &__price {
    color: #0a0a0a;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.53rem;
    .tilde {
      color: #6a7282;
      font-size: 0.77rem;
      font-weight: 400;
      line-height: 1.1rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  .mobileItem {
    display: flex;
  }
}
