.mobileCard {
  position: relative;
  width: 9.625rem;
  height: 100%;
  border-radius: 0.547rem;
  flex-shrink: 0;
  overflow: hidden;
  &__poster {
    width: 100%;
    height: 100%;
  }
}

.card {
  position: relative;
  overflow: hidden;
  height: 60%;
  &__poster {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.88rem;
  height: 40%;
  &__price {
    display: flex;
    .price {
      color: #101828;
      font-family: Inter;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.31rem;
    }
    .prefix {
      color: #6a7282;
      font-family: Inter;
      font-size: 0.765rem;
      font-weight: 400;
      line-height: 1.1rem;
    }
  }
}

.mobileItem {
  display: none;
  gap: 1.31rem;
  padding: 0.94rem;
  height: 15.5rem;
  border-radius: 0.54688rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
  &__price {
    color: #0a0a0a;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.53rem;
  }
}

.desktopItem {
  display: flex;
  flex-direction: column;
  border-radius: 0.547rem;
  background: #fff;
  width: 100%;
  aspect-ratio: 13 / 30;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    .card__poster {
      transform: scale(1.05);
    }
  }
}

// HomePerformanceAlbumItem의 모바일 반응형 디자인은 별도의 컴포넌트 제작하여 Custom Hook 활용
@media screen and (max-width: 1100px) {
  .desktopItem {
    display: none;
  }
  .mobileItem {
    display: flex;
  }
}
