.card {
  position: relative;
  overflow: hidden;
  height: 60%;
  &__poster {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.88rem;
  height: 40%;
  &__price {
    display: flex;
    .price {
      color: #101828;
      font-size: 0.88rem;
      font-weight: 600;
      line-height: 1.31rem;
    }
    .prefix {
      color: #6a7282;
      font-size: 0.77rem;
      font-weight: 400;
      line-height: 1.1rem;
    }
  }
}

.desktopItem {
  display: flex;
  flex-direction: column;
  border-radius: 0.55rem;
  background: #fff;
  width: 100%;
  aspect-ratio: 13 / 30;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    .card__poster {
      transform: scale(1.05);
    }
  }
}

// 1150px: 모바일, 데스크톱 기준 X
// 뷰포트 너비 감소에 따라 공연 카드 텍스트가 잘리는 문제를
// 가격을 표시하는 요소를 제거함으로써 해결
@media screen and (max-width: 1150px){
  .info__price {
    display: none;
  }
}