@use "@shared/styles/mixins" as mixin;

.filter__dateField {
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
  .fieldLabel {
    display: flex;
    align-items: center;
    gap: 0.22rem;
    @include mixin.font-style(#364153, 0.77rem, 1.09rem, 500);
    &__icon {
      width: 14px;
      height: 14px;
    }
  }
  .fieldContent {
    display: flex;
    align-items: center;
    gap: 0.88rem;
    border-radius: 0.422rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 0 0.66rem;
    height: 1.84rem;
    &__value {
      @include mixin.font-style(#0a0a0a, 0.766rem, 1.09rem);
    }
    &__arrowIcon {
      width: 14px;
      height: 14px;
    }
  }
}
