@use "@shared/styles/variables" as *;

.cardBadge {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999rem;
  padding: 0.47rem 0.65rem 0.38rem;
  color: #fff;
  font-size: 0.765rem;
  font-weight: 700;
  line-height: 1.09rem;
  background: linear-gradient(180deg, #c00 0%, #900 100%);
}
