.metaItem {
  display: flex;
  align-items: center;
  gap: 0.22rem;
  color: #6a7282;
  line-height: 0.875rem;
  font-family: Inter;
  font-size: 0.66rem;
  font-weight: 400;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 0.66rem;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 0.22rem;
  }
  &__title {
    color: #101828;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.1rem;
    min-height: 2.2rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__artist {
    color: #4a5565;
    font-family: Inter;
    font-size: 0.765rem;
    font-weight: 400;
    line-height: 1.09rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    height: 5rem;
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.33rem;
    }
  }
}
