.ticketlink-link {
  text-decoration: none;

  .ticketlink-item {
    width: 240px;
    background: #f9fafb;
    padding: 13px 17px;
    border-radius: 4px;
    border: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;

    &__wrapper {
      display: flex;
      gap: 12px;

      .icon {
        width: 32px;
        height: 32px;
        border-radius: 9999px;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .ticketlink-name-initial {
          color: #1f2937;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
        }
      }

      .name {
        display: flex;
        flex-direction: column;

        &__main {
          color: #1f2937;
          font-family: "Apple SD Gothic Neo";
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }

        &__sub {
          color: #1f2937;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }
}
