.top3-ticketlink {
  width: 100%;

  .top3-ticketlink-button {
    width: 100%;
    padding: 12px 0px;
    border-radius: 6px;
    border: 2px solid #e2e8f0;
    background-color: #fff;

    .text-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  }

  .ticketlink-dropdown {
    position: absolute;
    top: 666px;
    padding: 8px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    gap: 12px;

    .ticketlink {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &__bottom {
        padding-top: 9px;
        border-top: 1px solid #e5e7eb;
        display: flex;
        justify-content: center;

        .text {
          color: #6b7280;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }
}
