.top3-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);

  &__poster {
    position: relative;
    height: 474px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #c9c9c9;

    .rank {
      position: absolute;
      bottom: 12px;
      left: 12px;
      padding: 8px 12px;
      display: flex;
      width: fit-content;
      gap: 6px;
      border-radius: 12px;
      backdrop-filter: blur(2px);

      &__text {
        color: #fff;
        font-family: "Geist", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
      }

      &--first {
        background: linear-gradient(
          135deg,
          rgba(230, 0, 45, 0.9) 0%,
          #e6002d 100%
        );
        box-shadow: 0 10px 15px -3px rgba(230, 0, 45, 0.25),
          0 4px 6px -4px rgba(230, 0, 45, 0.25);
      }

      &--second {
        background: linear-gradient(135deg, #4b5563 0%, #374151 100%);
        box-shadow: 0 10px 15px -3px rgba(107, 114, 128, 0.25),
          0 4px 6px -4px rgba(107, 114, 128, 0.25);
      }

      &--third {
        background: linear-gradient(135deg, #d97706 0%, #b45309 100%);
        box-shadow: 0 10px 15px -3px rgba(245, 158, 11, 0.25),
          0 4px 6px -4px rgba(245, 158, 11, 0.25);
      }
    }
  }
}

.top3-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 27.5px 24px;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
    margin-bottom: 18px;
    color: #111827;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }

  &__location {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;
    color: #4b5563;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__period {
    display: flex;
    gap: 4px;
    color: #4b5563;
    font-family: Geist;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
