.logo {
  display: flex;
  align-items: center;
  gap: 0.44rem;
  cursor: pointer;
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
  }
  &__name {
    color: #101828;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.53rem;
    letter-spacing: -0.03rem;
    flex-shrink: 0;
  }
}

.menuBar {
  display: flex;
  gap: 1.31rem;
  &__item {
    display: flex;
    align-items: center;
    gap: 0.22rem;
    flex-shrink: 0;
    cursor: pointer;
  }
  &__icon {
    flex-shrink: 0;
  }
  &__text {
    color: #364153;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    letter-spacing: -0.00938rem;
    &--active {
      color: #c00;
      font-weight: 500;
    }
  }
}

.auth {
  display: flex;
  align-items: center;
  gap: 0.44rem;
  font-size: 0.9rem;
  cursor: pointer;
  &__login, &__signup {
    display: flex;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  &__signup {
    border-radius: 0.43rem;
    background: #c00;
    color: #fff;
  }
}

.full-menu {
  &__main {
    display: flex;
    height: 3.5rem;
    max-width: 1280px;
    padding: 0 1.75rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
  }

  &__filter {
    height: 10rem;
    background-color: #ececec;
  }
}

.mobile-menu {
  display: none;
  height: 4rem;
  padding: 0.66rem 0.88rem;
  &__wrapper {
    width: 100%;
    min-width: 20rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999rem;
    border: 1px solid #d1d5dc;
    background: #fff;
  }
  &__search {
    display: flex;
    flex-shrink: 0;
    gap: 0.6rem;
  }
  &__text {
    color: #6a7282;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.31rem;
    letter-spacing: -0.00938rem;
  }
}

.header {
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
  background: #fff;
}

@media screen and (max-width: 750px) {
  .full-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
