@use "@shared/styles/mixins" as mixin;
@use "@shared/styles/variables" as *;

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.44rem;
  margin-top: 0.88rem;
  .cancel,
  .delete {
    @include mixin.font-style(#0a0a0a, 0.77rem, 1.09rem, 500);
    padding: 0.44rem 0.88rem;
  }
  .cancel {
    @include mixin.button-style(0.44rem 0.88rem, #fff, #0a0a0a);
    border-radius: 0.42rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .delete {
    @include mixin.button-style(0.44rem 0.88rem, $main-theme, #fff);
    border-radius: 0.42rem;
  }
}
