@use "@shared/styles/mixins" as mixin;

.modalHeader {
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
  &__main {
    @include mixin.font-style(#0a0a0a, 0.98rem, 0.98rem, 600);
  }
  &__sub {
    @include mixin.font-style(#717182, 0.77rem, 1.09rem);
  }
}
