.ranking {
  width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.31rem;
    margin: 0 auto;
    max-width: 1280px;
    // min-width: 1100px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: calc(100% - 3.5rem);
    grid-gap: 1.31rem;
  }
}

// 1150px: 모바일, 데스크톱 기준 X
// 뷰포트 너비 감소에 따른 양옆 여백 줄이기 위함
@media screen and (max-width: 1150px) {
  .ranking__header,
  .ranking__list {
    width: calc(100% - 2rem);
  }
}
