.bookmark-button {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  padding: 8px;
  width: 28px;
  height: 28px;
  background-color: #fff;
}
