.performance-countdown {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  padding-left: 8px;
  padding-right: 8px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  background-color: #ff0000;
}