.bookmark {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999rem;
  padding: 0.44rem;
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
