.ticketlink {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    color: #374151;
    font-weight: 400;
  }

  &__button {
    gap: 4px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    background: #fff;

    .link-text {
      font-size: 12px;
    }

    .link-icon {
      width: 14px;
      height: 14px;
    }
  }
}
