.dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 115%;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #E2E8F0;
  padding: 4px;
  width: 160px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);

  &__item {
    height: 36px;
  }
}
