.dropdown-menu-item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 36px;

  &:hover {
    background-color: rgb(239, 244, 250);
    cursor: pointer;
  }

  // 선택된 드롭다운 항목을 표시하기 위함 
  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;

    .check-icon {
      width: 10px;
      height: 10px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    color: rgb(2, 8, 23);
  }
}