.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .sort-dropdown-trigger {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    width: 160px;
    height: 40px;
    border: 1px solid #E2E8F0;
    border-radius: 6px;

    &:hover {
      cursor: pointer;
    }

    .text {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .count {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4B5563
  }
}