.dropdown-menu {
  display: flex;
  border-radius: 16px;
  padding: 12px;
  width: 270px;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__sub {
    font-size: 14px;
    color: #6b7280;
  }
}