.filter-field {
  position: relative;
  border-right: 1px solid #e5e7eb;
  cursor: pointer;

  &:not(.filter-field--active):not(.filter-field--inactive) {
    &:hover {
      background: #ebebeb;
    }
  }

  &--active {
    background: #fff;
  }

  &--inactive {
    &:hover {
      background-color: #e2e2e2;
    }
  }

  .field-wrapper {
    position: absolute;
    top: 15px;
    left: 14px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    gap: 16px;

    .field-left {
      display: flex;
      gap: 14px;
      height: 48px;
      
      .field-icon-wrapper {
        margin-top: 10px;
        top: 4px;
        width: 20px;
        height: 20px;

        .won {
          color: #cc0000;
          font-size: 20px;
        }
      }

      .field-text-wrapper {
        display: flex;
        flex-direction: column;
        width: 80px;
        gap: 4.5px;

        legend {
          color: #6b7280;
          font-family: "Inter", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
        }

        p {
          color: #000;
          font-family: "Inter", sans-serif;
          font-size: 13.6px;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }

    .dropdown-icon {
      position: absolute;
      top: 24px;
    }
  }
  
  .filter-dropdown {
    position: absolute;
    top: 115%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px;
    width: 270px;
    padding: 18px 22px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2);
  }
}
