.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
  width: 36px;
  height: 36px;  

  &:hover {
    cursor: pointer;
  }
}