@use "@shared/styles/mixins" as mixin;

.filter-field {
  position: relative;
  padding: 10px;
  border-right: 1px solid #e5e7eb;
  cursor: pointer;

  &:not(.filter-field--active):not(.filter-field--inactive) {
    &:hover {
      background: #efefef;
    }

    &:hover .filter__input {
      background-color: #efefef;
    }
  }

  &--active {
    background: #fff;
  }

  &--inactive {
    &:hover {
      background-color: #e2e2e2;
    }
  }

  .field-wrapper {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 6px;

    .field-left {
      display: flex;
      gap: 14px;

      .field-icon-wrapper {
        margin-top: 10px;
        top: 4px;
        width: 20px;
        height: 20px;

        .won {
          color: #c6c6c6;
          font-size: 20px;
        }
      }

      .field-text-wrapper {
        display: flex;
        flex-direction: column;
        width: 94px;
        gap: 4.5px;

        legend {
          @include mixin.font-style(#6b7280, 12px, 20px);
        }

        p {
          @include mixin.font-style(#000, 13.6px, 24px, 500);
        }
      }
    }

    .dropdown-icon {
      position: absolute;
      top: 24px;
    }
  }

  .dropdown-container {
    position: absolute;
    z-index: 1;
    top: 115%;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2);
    border-radius: 16px;

    &-group {
      padding: 18px 22px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-single {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      right: -66%;
      width: 680px;
    }
  }
}
