.filter-small {
  &__item {
    padding: 14px 18px;

    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 20px;
        background-color: #e2e8f0;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;

    &--won {
      font-size: 12px;
      color: #cc0000;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
}
