.info-header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__main {
    font-size: 24px;
    font-weight: 700;
  }

  &__sub {
    font-size: 16px;
    color: #4B5563;
  }
}